@import "tailwindcss";

@theme {
  --color-card-background:#FFFFFF;
  --color-background:#FAFAFA;
  
  --color-black-60: #00000099; 
  --color-black-40: #00000066;
  --color-black-20: #00000033;

  --color-blue-100: #002688;
  --color-blue-60: #00268899;
  --color-blue-40: #00268866;

  --color-red-100: #C00000;

  --color-green-100: #008004;

  --color-yellow-100: #F3C71A;
}
